URL_REMOTE = 
SESSION_SECRET = 
NEXT_PUBLIC_HOST_URL = 
AUTH_CLIENT_ID = 
GOOGLE_API_KEY = 
NEXT_PUBLIC_BASE_URL =
NEXT_PUBLIC_TIME_ZONE =
AUTH_FACEBOOK_ID  = 
AUTH_FACEBOOK_SECRET = 
AUTH_SECRET =
NEXTAUTH_URL = 
AUTH_GOOGLE_ID = 
AUTH_GOOGLE_SECRET = 
NEXT_PUBLIC_GAID = 